
/*** custom font faces ***/
@font-face {
    font-family: "Club-Lithographer-V2-Italic";
    src: url("./assets/fonts/ClubLithographerV2-Italic.otf");
}

@font-face {
    font-family: "Asfen-Regular";
    src: url("./assets/fonts/ASFEN-Regular.otf");
}

@font-face {
    font-family: "Canela-Thin";
    src: url("./assets/fonts/Canela-Thin.otf");
}

@font-face {
    font-family: "Degular-Light";
    src: url("./assets/fonts/DegularDemo-Light.otf");
}

/* #player {
  position: inherit;
} */

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	overflow: hidden;
	background: rgb(228,230,238);
	background: linear-gradient(90deg, rgba(228,230,238,1) 0%, rgba(162,199,223,1) 50%, rgba(183,208,247,1) 100%); 
  height: 100%; 
  height: 100%;
  margin: 0px;
}

/*** LANDING PAGE ***/


/* overall content */
.all-content-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-self: center;
/*	overflow: hidden;*/
/*	background-color: blue;*/
  height: 90%; 
  width: 95%;
  max-height: 100%;
  max-width: 100%;
  padding: 15px;
}


/* home left side content */
.content-left {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-self: center;
/*	overflow: hidden;*/
/*	background-color: green;*/
  height: 100%; 
  width: 40%;
  max-height: 100%;
  max-width: 40%;
}

.title-container {
	display: flex;
	flex-direction: column;
	align-self: flex-start;
/*	overflow: hidden;*/
/*	background-color: green;*/
  height: 16%; 
  width: 100%;
  max-height: 16%;
  max-width: 100%;	
  right: 15px;
  position: relative;
}

.title-img {
	display: flex;
	flex-direction: column;
	align-self: flex-start;
/*	background-color: pink;*/
  height: 100%; 
  width: 100%;
  max-height: 100%;
  max-width: 100%;	
  background-image: url('./assets/images/title/title.png'); 
  background-position: left bottom; 
  background-repeat: no-repeat;
  background-size: 100%;
  index: 500;
}

.imgs-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: center;
/*	background-color: yellow;*/
  height: 65%; 
  width: 100%;
  max-height: 65%;
  max-width: 100%;	
}

.philly-img {
	display: flex;
	flex-direction: row;
	align-content: center;
/*	background-color: blue;*/
  height: 90%; 
  width: 45%;
  max-height: 90%;
  max-width: 45%;	
  border-radius: 25px;
  border: 1px solid white;
  box-shadow: 0 0 22px rgba(0, 64, 107, 0.7); 
	-webkit-box-shadow: 0 0 22px rgba(0, 64, 107, 0.7); 
	-moz-box-shadow: 0 0 22px rgba(0, 64, 107, 0.7); 
}

.philly-img.one {
  margin-right: 8px;
  background-image: url('./assets/images/family/lanternBlue_02_cooking.png'); 
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
}

.philly-img.two {
  margin-left: 8px;
  background-image: url('./assets/images/family/lanternBlue_03_smiling.png'); 
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
}

.opening-text-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
	overflow: hidden;
  height: 19%; 
  width: 95%;
  max-height: 19%;
  max-width: 95%;
  margin-right: 15px;
/*  background-color: white;*/
  color: #00406B;
  font-family: "Degular-Light";
  font-size: 14px;
}

/* home right side content */
.content-right {
	display: flex;
	justify-content: flex-start;
	align-self: center;
	flex-wrap: wrap;
	overflow: hidden;
	/*background-color: red;*/
	background: rgb(255,255,255);
	background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  height: 100%; 
  width: 60%;
  max-height: 100%;
  max-width: 60%;
  border-radius: 25px;
}

.navigation-box {
	display: flex;
	overflow: hidden;
	justify-content: flex-start;
	align-content: flex-end;
	align-items: flex-end;
  height: 50%; 
  width: 100%;
  max-height: 50%;
  max-width: 50%;
  border-radius: 25px;
}

.navigation-box.one {
	background: rgb(255,255,255);
	background: linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}

.navigation-box.two {
	background: rgb(255,255,255);
	background: linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}

.navigation-box.three {
	background: rgb(255,255,255);
	background: linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}

.navigation-box.four {
	background: rgb(255,255,255);
	background: linear-gradient(30deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}

.navigation-link {
	font-family: "Canela-Thin";
	color: #00406B;
	margin-left: 25px;
	margin-bottom: 25px;
	cursor: default;
}

.navigation-link.one {
    cursor: pointer;
    transition: all 3s ease-in;
    -webkit-transition: all 3s ease;
}

.navigation-link.one:hover {
    cursor: pointer;
    font-style: italic;
}

.navigation-link.two {
	cursor: pointer;
	transition: all 3s ease-in;
	-webkit-transition: all 3s ease;
}

.navigation-link.two:hover {
	cursor: pointer;
	font-style: italic;
}

.navigation-link.three {
	cursor: pointer;
	transition: all 3s ease-in;
	-webkit-transition: all 3s ease;
}

.navigation-link.three:hover {
	cursor: pointer;
	font-style: italic;
}

.navigation-link.four {
	cursor: pointer;
	transition: all 3s ease-in;
	-webkit-transition: all 3s ease;
}

.navigation-link.four:hover {
	cursor: pointer;
	font-style: italic;
}

.decorated {
	font-family: "Club-Lithographer-V2-Italic";
}



/*** RESOURCES PAGE ***/

.resources-wrapper-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-self: center;
/*	overflow: hidden;*/
	background: rgb(255,255,255);
	background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  height: 100%; 
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  border-radius: 25px;
}

.top-nav-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: flex-start;
	align-items: center;
	align-self: center;
/*	overflow: hidden;*/
	background: rgb(255,255,255);
	background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 100%);
	height: 15%; 
  width: 100%;
  max-height: 15%;
  max-width: 100%;
  border-radius: 25px;
}

.page-title-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
/*	align-content: flex-start;
	align-items: flex-start;*/
	text-align: center;
	font-family: "Canela-Thin";
	font-size: 18px;
/*	overflow: hidden;*/
	color: #00406B;
	-webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: #00406B;
  /*	background: rgb(255,255,255);
	background: linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);	
*/
  height: 50%; 
  width: 10%;
  max-height: 50%;
  max-width: 10%;
  border-radius: 15px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 20px;
}

.back-to-home-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	align-self: center;
	text-align: center;
	font-family: "Canela-Thin";
	font-size: 18px;
/*	overflow: hidden;*/
	color: #00406B;
	-webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: #00406B;
  background: rgb(255,255,255);
	background: linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(183,208,247,0.5) 100%);
	/*background: rgb(255,255,255);
	background: linear-gradient(90deg, rgba(228,230,238,1) 0%, rgba(162,199,223,1) 50%, rgba(183,208,247,1) 100%);*/ 
	height: 50%; 
  width: 10%;
  max-height: 50%;
  max-width: 10%;
  border-radius: 15px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-right: 20px;
  cursor: pointer;
  transition: all 3s ease-in;
	-webkit-transition: all 3s ease;
}

.back-to-home-container:hover {
	cursor: pointer;
	font-style: italic;
}

.bottom-content-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: center;
	align-self: center;
/*	overflow: hidden;*/
	color: #00406B;
/*    background-color: black;*/
	background: rgb(255,255,255);
	background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 100%);
	 height: 79.5%; 
  width: 100%;
  max-height: 79.5%;
  max-width: 100%;
  border-radius: 25px;
  margin-top: 10px;
}

.resource-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: flex-start;
	align-items: center;
	align-self: flex-start;
/*	overflow: hidden;*/
/*	background: rgb(255,255,255);
	background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 100%);*/
	height: 6%; 
  width: 95%;
  max-height: 6%;
  max-width: 95%;
  border-bottom: 1px solid white;
  margin-left: 25px;
  margin-right: 25px;
}

.divider-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	align-self: center;
/*	overflow: hidden;*/
	color: #00406B;
	background: rgb(255,255,255);
	background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 100%);
	height: 50%; 
  width: 17%;
  max-height: 50%;
  max-width: 17%;
/*  margin-bottom: 25px;*/
}

.resource-link-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
	align-self: flex-start;
/*	overflow: hidden;*/
/*	background: rgb(255,255,255);
	background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 100%);*/
	height: 100%; 
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  margin-left: 25px;
  margin-right: 25px;
  font-family: "Degular-Light";
}

.resource-link {
	transition: all 3s ease-in;
	-webkit-transition: all 3s ease;
}

.resource-link:hover {
	cursor: pointer;
	font-style: italic;
}



/*** EPHEMERA PAGE ***/

.ephemera-wrapper-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
/*  overflow: hidden;*/
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  height: 100%; 
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  border-radius: 25px;
}

.bottom-content-container.ephemera {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    align-self: center;
    /* overflow: hidden; */
    color: #00406B;
    /* background: black; */
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 100%);
    height: 79.5%;
    width: 100%;
    max-height: 79.5%;
    max-width: 100%;
    border-radius: 25px;
    margin-top: 10px;
    overflow: scroll;
}

.ephemera-row-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    align-self: center;
    /* overflow: hidden; */
    color: #00406B;
    /* background: black; */
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    border-radius: 25px;
    /* margin-top: 10px; */
    flex: 1 1 0;
    flex-wrap: wrap;
}

.ephemera-square {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-start;
    align-self: flex-start;
    overflow: hidden;
    color: #00406B;
    /* background: black; */
    background: rgb(255,255,255);
    background: linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    height: 35vh;
    width: 65vw;
    max-height: 35vh;
    max-width: 65vh;
    border-radius: 25px;
    /* margin-top: 10px; */
    cursor: pointer;
}

.ephemera-link {
    font-family: "Canela-Thin";
    color: #00406B;
/*    -webkit-text-stroke-width: .25px;
  -webkit-text-stroke-color: #00406B;*/
    margin-left: 25px;
    margin-bottom: 25px;
    cursor: default;
}

.ephemera-link:hover {
    font-family: "Canela-Thin";
    color: #00406B;
/*    -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: #00406B;*/
    margin-left: 25px;
    margin-bottom: 25px;
    cursor: pointer;
    font-style: italic;
}



/*** EPHEMERA (INDIVIDUAL) PAGES ***/

.bottom-content-container.ephemera.individual-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    align-self: center;
    /* overflow: hidden; */
    color: #00406B;
    /* background: black; */
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 100%);
    height: 79.5%;
    width: 100%;
    max-height: 79.5%;
    max-width: 100%;
    border-radius: 25px;
    margin-top: 10px;
    overflow: hidden !important;
}

.ephemera-square.information {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    align-self: flex-start;
    /* overflow: hidden; */
    color: #00406B;
    background: transparent;
    /* background: rgb(255,255,255); */
    /* background: linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); */
    height: 100vh;
    width: 35vw;
    max-height: 100vh;
    max-width: 35vw;
     border-radius: 0px; 
    /* margin-top: 10px; */
    cursor: pointer;
    font-family: "Degular-Light";
}

.ephemera-square.media {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-start;
    align-self: flex-start;
    /* overflow: hidden; */
    color: #00406B;
    /* background: black; */
    background: rgb(255,255,255);
    background: linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    height: 65vh;
    width: 55vw;
    max-height: 65vh;
    max-width: 55vw;
    border-radius: 25px;
    /* margin-top: 10px; */
    cursor: pointer;
}

.ephemera-info {
    width: 20%;
}

.ephemera-info.secondary {
    width: 70%;
}

video {
  height: auto;
  width: 100%;
}

.video-container {
  position: relative;
  /* padding-bottom: calc(var(--aspect-ratio, .5625) * 100%); */
  height: 100%;
  width: 100%;
/*  object-fit: contain;*/
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* Trying to get the position attribute to be unset for the player object so video takes up full height */
/* 
.video-container #player {
  position: unset;
}

#player {
  position: unset;
}

.player player-1f719acc-f75e-4610-8c58-a1194ddfac4a js-player-fullscreen no-playbar with-sticky-custom-logo touch-support mobile player-normal player-xs {
  position: unset;
} */

/* Tablet (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {


/*** EPHEMERA (INDIVIDUAL) PAGE ***/

.bottom-content-container.ephemera {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    align-self: center;
    /* overflow: hidden; */
    color: #00406B;
    /* background: black; */
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, 
    rgba(255,255,255,0.5) 100%);
    height: 79.5%;
    width: 100%;
    max-height: 79.5%;
    max-width: 100%;
    border-radius: 25px;
    margin-top: 10px;
    overflow: scroll;
}

}


/* Smartphones (portrait) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {


/*** LANDING PAGE ***/


.all-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    /* overflow: hidden; */
    /* background-color: blue; */
    height: 90%;
    width: 95%;
    max-height: 100%;
    max-width: 100%;
    padding: 15px;
}

.content-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
    /* overflow: hidden; */
    /* background-color: green; */
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    /* overflow: hidden; */
    /* background-color: green; */
    height: 100%;
    width: 100%;
    max-height: 100;
    max-width: 100%;
}

.imgs-container {
    display: none;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    /* background-color: yellow; */
    height: 65%;
    width: 100%;
    max-height: 65%;
    max-width: 100%;
}

.opening-text-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    overflow: hidden;
    height: 100%;
    width: 90%;
    max-height: 100%;
    max-width: 90%;
    margin-right: 15px;
    /* background-color: white; */
    color: #00406B;
    font-family: "Degular-Light";
    font-size: 14px;
}

.content-right {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-self: center;
    /* flex-wrap: wrap; */
    overflow: hidden;
    /* background-color: red; */
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    border-radius: 25px;
}

.navigation-box {
    cursor: pointer;
    display: flex;
    overflow: hidden;
    justify-content: flex-start;
    align-content: flex-end;
    align-items: flex-end;
    height: 25%;
    width: 100%;
    max-height: 25%;
    max-width: 100%;
    border-radius: 25px;
}

.page-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: "Canela-Thin";
    font-size: 18px;
    /* overflow: hidden; */
    color: #00406B;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #00406B;
/*    background: rgb(255,255,255);
    background: linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);*/
    height: 50%;
    width: 30%;
    max-height: 50%;
    max-width: 30%;
    border-radius: 15px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: 20px;
}

.back-to-home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    font-family: "Canela-Thin";
    font-size: 18px;
    /* overflow: hidden; */
    color: #00406B;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #00406B;
    background: rgb(255,255,255);
    background: linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(183,208,247,0.5) 100%);
    height: 50%;
    width: 15%;
    max-height: 50%;
    max-width: 15%;
    border-radius: 15px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: 20px;
    cursor: pointer;
    transition: all 3s ease-in;
    -webkit-transition: all 3s ease;
}

.bottom-content-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    align-self: center;
    overflow-x: hidden;
    overflow-y: scroll;
    color: #00406B;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 100%);
    height: 85%;
    width: 100%;
    max-height: 85%;
    max-width: 100%;
    border-radius: 25px;
    margin-top: 10px;
}


/*** RESOURCES PAGE ***/

.resource-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;
    align-self: flex-start;
    /* overflow: hidden; */
    height: auto;
    width: 95%;
    max-height: none;
    max-width: 95%;
    border-bottom: 1px solid white;
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 8px;
    padding-bottom: 10px;
}

.resource-link-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    align-self: flex-start;
    /* overflow: hidden; */
    text-align: left !important;
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    margin-left: 25px;
    margin-right: 25px;
    font-family: "Degular-Light";
}

/*** EPHEMERA PAGE ***/

.bottom-content-container.ephemera {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    align-self: center;
    /* overflow: hidden; */
    color: #00406B;
    /* background: black; */
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 100%);
    height: 79.5%;
    width: 100%;
    max-height: 79.5%;
    max-width: 100%;
    border-radius: 25px;
    margin-top: 10px;
    overflow: scroll;
}

.ephemera-row-container {
    display: flex;
    flex-direction: row-reverse !important;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    align-self: center;
    /* overflow: hidden; */
    color: #00406B;
    /* background: black; */
    height: auto;
    width: 100%;
    max-height: 100vh;
    max-width: 100%;
    border-radius: 25px;
    /* margin-top: 10px; */
    flex: 1 1 0;
    flex-wrap: wrap;
}


.ephemera-link {
    font-family: "Canela-Thin";
    color: #00406B;
    margin-left: 25px;
    margin-bottom: 25px;
    cursor: default;
    width: 70%;
}

/*** EPHEMERA (INDIVIDUAL) PAGE ***/

.bottom-content-container.ephemera.individual-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    align-self: center;
    /* overflow: hidden; */
    color: #00406B;
    /* background: black; */
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 100%);
    height: 79.5%;
    width: 100%;
    max-height: 79.5%;
    max-width: 100%;
    border-radius: 25px;
    margin-top: 10px;
    overflow: scroll;
}

.ephemera-row-container.individual-page {
    display: flex;
    flex-direction: row-reverse !important;
    justify-content: center;
    align-content: flex-start !important;
    align-items: flex-start !important;
    align-self: flex-start !important;
    /* overflow: hidden; */
    color: #00406B;
    /* background: black; */
    height: 100vh;
    width: 100%;
    max-height: 100vh;
    max-width: 100%;
    border-radius: 25px;
    /* margin-top: 10px; */
    flex: 1 1 0;
    flex-wrap: wrap;
}

.ephemera-square.information {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-content: flex-start;
    align-items: flex-start;
    align-self: flex-start;
    /* overflow: hidden; */
    color: #00406B;
    background: transparent;
    /* background: rgb(255,255,255); */
    /* background: linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); */
    height: auto;
    width: 80% !important;
    max-height: none;
    max-width: 80% !important;
    border-radius: 0px;
    /* margin-top: 10px; */
    cursor: pointer;
    font-family: "Degular-Light";
    padding: 0px;
    margin-bottom: 30px;
}

.ephemera-info {
    width: 20%;
}

.ephemera-info.secondary {
    width: 100vw;
}

.ephemera-square.media {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-start;
    align-self: flex-start;
    /* overflow: hidden; */
    color: #00406B;
    /* background: black; */
    background: rgb(255,255,255);
    background: linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    height: auto;
    width: 100vw;
    max-height: 100%;
    max-width: 80%;
    border-radius: 25px;
    /* margin-top: 10px; */
    cursor: pointer;
}

.video-container {
    position: relative;
    padding-bottom: calc(var(--aspect-ratio, .5625) * 100%);
/*    height: 0;*/
    width: 100%;
    /* object-fit: contain; */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;






}






